@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

html{
		background: url(mountains.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family:"Raleway", sans-serif;

}
.mainPage{
	margin-left:200px;
	/*have to make room for the contents menu*/
}

/*This is the formatting for the main page header/banner*/
#webheader{
	text-align:center;
	font-weight:normal;
	background: #194641;
	color: #e6eced;
	font-size:27px;

/*This is the main posting formatting, with each block of text set in a semi-transparent
block, matched to the background*/
}
.campingloc{
	margin: auto;
	margin-top:50px;
	margin-bottom:50px;
	width: 75%;
	height: 300px;
	box-sizing: border-box;
	padding: 15px;
	font-size:120%;
	background: rgba(255, 255, 234, 0.6)

}
/*Making a table of contents on the side, but trying to make it stay in front of
the rest of the content to not disturb any other content on the page
I went through many iterations of this trying to get something to work without pages of 
CSS/HTML nested together*/
.contents{
	height:100%;
	width:200px;
	position:fixed;
	z-index:1; /*This puts it in front, the most annoying command to try find*/
	top:0;
	left:0;
	background-color:#194641;
	overflow-x:hidden; /*from what I could figure out, this would keep it static*/
	padding-top:20px;
}
.contents a{
	padding: 6px;
	font-size:20px;
	color:#e6eced;
	display:block;
	line-height:1.5;
	text-decoration:none;
	
}
.futureContent{
	text-align:center;
	font-style:italic;
	font-size:30px;
}